.main {
  max-width: 32rem;
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.section {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ebebeb;
}

.subtitle {
  font-size: 1.125rem;
  margin: 0 0 1rem;
}
